/*
 * master branch: https://github.com/Keillion/browserSideBasic Unlicense
 * modify from: http://meyerweb.com/eric/tools/css/reset/ v2.0 license: none (public domain)
 */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,textarea,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
* {box-sizing: border-box;}
body{font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;}
button {cursor:pointer;padding:0;outline:none;user-select:none;}
button::-moz-focus-inner{border:0;}
input[type='checkbox'], input[type='radio'] {vertical-align:text-top;}
/*util*/
label._forCkBoxOrRadio{user-select:none;}
button._slowlyChange{transition:all .2s ease-in-out;}
/*remove the dns pollution ads !!!*/ /*use ssl, so no ads now*/
/*body > iframe, body > span{opacity:0;display:none;}*/
